/* Set warna background untuk tag body */

body {
    background-color: rgb(13, 48, 51);
}

/* Set warna background dan teks untuk tag <h1> */

h1 {
    background-color: #beaa34;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
